html{
    zoom: 80%;
}

body{

    background-color: black;
    margin: 0;
}

nav{

    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 39px;
    color: white;
    margin-right: 2vw;
    padding-top: 10vh;
}

p{

    margin: 0;

}

.buttons{

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.button{

    margin-left: 53px;

}

.container{

    margin-top: 0;
    max-width: 66vw;
    margin-left: auto;
    margin-right: auto;

}

header{
    
    background-image: url(img/background.png);
    height: 90vh;
    
    
}

.image{
    width: 35vw;
    margin: auto;
    margin-top: 11vh;
    
}



.underlogo_text{

    color: #FFFFFF;
    text-align: center;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 39px;
    max-width: 93vw;
    margin: auto;
    margin-top: 100px;
    align-items: center;

}

.underlogo{
    width: 22vw;
    height: 0.1vw;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #86C383;
}

.text2{
    color: #FFFFFF;
    text-align: center;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 34px;
    max-width: 60vw;
    margin: auto;
    margin-top: 36px;
}

.plus{
    color: #86C383;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 38px;
}

.bestsellers{
    color: #FFFFFF;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 43px;
    margin: 8vh 0 8vh 0;
    align-items: center;
    justify-content: space-between;
}


.besthr{
    width: 27vw;
    height: 0.1vw;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #86C383;
}


.heats{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 35px;
    max-width: 70vw;
    align-items: center;
}

.heatselem{
    border-radius: 47.54px;
    color: #FFFFFF;
    
    
}

.maincontent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15vh;

}
.maintexth1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 5vh;
    color: #86C383;
    margin-bottom: 2vh;
}
.maintextcontent{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 5vh;
    color: white;
}
.maintext{
    width: 35vw;
}
footer{
    height: 42vh;
    background-color: #3A3A3A;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20vh;
}
.footer_link{
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 3vh;
}
.footer_content_1{
    display: flex;
    flex-direction: column;
    width: 70vw;
}
.footerlinks{
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contacts{
    width: 34.7vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 3vh;

}
.footer_content_2{
    width: 38vw;
    color: white;
    font-size: 2vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding-top: 4vh;
}
.footer_content_again{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 2vh;
}
.slider_pr{
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    
}

.sliderelems{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 68vw;
    
}

.kartochka{ 
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(137, 43, 226, 0); 
    border: 0.25vw solid; 
    border-color: #86C383; 
    height: 55vh; 
    width: 20vw; 
    border-radius: 2vw; 
    color: white; 
    font-size: 22pt; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: space-evenly; 
} 
.pupa{ 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    
}



.old{
    text-decoration: line-through; 
    color: #86C383; 
    font-size: 2vh;
}
.slider_bottom{
    margin-top: 10vh;
    height: 0.1vw;
    background-color: #86C383;
    width: 66vw;
}
.slider_img{
    width: 17vw; 
}
.slide_price{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container_slider{
    margin-top: 0;
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 31px;
    color: #FFFFFF;
}

.begining{
    max-width: 66vw;
    text-align: left;
    display: flex;
    align-items: center;
}

.advantages{
    max-width: 66vw;
    text-align: left;
    display: flex;
    align-items: center
}

.advel{
    max-width: 66vw;
    text-align: left;
}


.h2{
    color: #86C383;
    font-weight: 600;
}

.plashka{
    display: flex;
    align-items: center;
    margin: 8vh 0 8vh 0;
}

.cardlink{
    text-decoration: none;
}

a{
    text-decoration: none !important;

}